.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_logo {
    width: 100;
    img {
      width: 100%;
    }
  }
  &_offical {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    span {
      display: block;
      font-size: 18px;
      text-align: center;
    }
  }
  &_phone {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
  &_contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
